<div class="container">

    <img src="/public/assests/img/burgertime.jpg" class="pic" alt="Burger" />

    <div class="overlay">

        <br>
        <P>

    </div>

</div>

<h1 class="text">Eat Delicious Burgers!</h1>

<br>

<br>

<br>

<div class="row">
    <div class="col">
        <h2>Burgers not devoured!</h2>
        <ul id="eatOne">
            {{#each burgers}}
            {{#unless this.devoured}}
            <li>
                {{this.burger_name}}

                <button class="change-eat" value={{this.id}} data-eaten={{this.devoured}}>
                    Devour It!
                </button>

            </li>
            {{/unless}}
            {{/each}}

        </ul>
    </div>

    <div class="col">
        <h2>Burgers devoured!</h2>

        <ul id="eatTwo">
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{this.burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="make" align="center">
    <h2 class="add">Make a Burger</h2>

    <form class="create-form">

        <div class="form-group">
            <label for="burg">New burger:</label>
            <input type="text" id="burg" name="name">
        </div>

        <br>

        <div class="button">
            <button align="center" type="submit">Add a burger!</button>
        </div>

    </form>

    <br>

    <br>

    <br>

</div>