<div class="row">
    <center>

        <div class="col-md-5">
            <h3 class="submitFont">Eat Me!</h3>
            <div id="burgersAvailable">
                {{#each burgers}} {{#unless devoured}}
                <form action="burger/devour/{{id}}" method="POST">
                    <div class="input-group">
                        <li class="form-control">{{burger_name}}</li>
                        <span class="input-group-btn">
                            <button class="btn btn-danger devour-button" type="submit">Devour It!</button>
                        </span>
                    </div>
                </form>
                {{/unless}} {{/each}}
            </div>
        </div>

        <div class="col-md-2"></div>


        <div class="col-md-5">
            <h3 class="submitFont">Already Eaten:</h3>
            <div id="alreadyEaten">
                {{#each burgers}} {{#if this.devoured}}
                <div class="input-group">
                    <li class="form-control">{{this.burger_name}}</li>
                </div>
                {{/if}} {{/each}}
            </div>
        </div>
    </center>
</div>